body {
    background-color: #000000;
    color: seashell;
    font-family: Helvetica;
    font-size: 22px;
    opacity: 0.9;
    margin: 0;
    padding: 0;
}

h2, h3, h4, h5, p {
    text-align: center;
}

.header {
    border-bottom: 1px solid white;
    display: flex;
    height: 69px;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    margin: 0 10px 69px 10px;
    z-index: 1;
}

.header img {
    height: 50px;
}

nav ul li {
    display: inline;
}

main {
    position: relative;
    top: 69px;
}